// Import page-specific CSS files here.
@import "home";


.fade {
  opacity: 0;
  transition: opacity 0.6s linear;
  height: 0px;
  margin:0px;
  visibility: hidden;
}

.show {
  opacity: 1;
  height: auto;
  visibility: visible;
}
.next-button {
  span{
    cursor: pointer;
  }
}

#form-box {
  position: relative;
  background-color: var(--color) ;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: -8px 5px 10px grey;

  h2, p, a, span {
    color: var(--bg-color)
  }

  h2 {
    font-size: 22px;
    // margin-top: 30px;
  }

  select, input {
    border-radius: 10px;
  }

  .btn {
    background-color: var(--bg-color);
    width: 150px;
  }

}
