.gchart {
  display:block;
  width:auto;
  // margin: 0 auto !important;
}


.route-title {
  background-color: var(--color);
  color: var(--bg-color);
  box-shadow: 5px 8px 10px 0px #000;
  width: auto;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}



    // width: 330px;
    // box-shadow: 5px 8px 10px 0px #000;
    // margin: 20px;
    // border: 1px solid var(--color);
    // border-radius: 3px;
    // color: var(--bg-color);
    // background-color: var(--color);
    // a {
    //   color: var(--bg-color);
    // }
    // h2 {
    //   font-size: 26px;
    // }
