.gchart {
  display:block;
  width:auto;
  // margin: 0 auto !important;
}


.route-title {
  background-color: var(--color);
  color: var(--bg-color);
  box-shadow: 5px 8px 10px 0px #000;
  width: auto;
  margin-bottom: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  padding: 10px 20px;
}
