<%# <div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
     <div class="card">
        <h1 > Tempo em Ubatuba</h1>
        <h3> Data de hoje</h3>
        <p id="description">Ceu aberto</p>
        <h2 id="temperature">30 graus</h2>
     </div>

    </div>
  </div>
</div> %>
<div id="chart_div" style="width: 0px; height: 0px;"></div>
    <div class="home-banner">
  <h1>Traffic Clairvoyant</h1>
</div>
