<div class="home-banner">
  <div class="home-text">
    <h1>Traffic Clairvoyant</h1>
    <h2>no more traffic stress on holidays</h2>
    <a href="#descricao" class="home-button">See how it works</a>
    <a href="/trips" class="home-button">Try it out</a>
  </div>
</div>

<div class="home">
<div class="container">
  <div id="descricao" class="text-start">

  <h1 class='text-center m-5'>How it works</h1>
  <div class="home-cards-flex">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="hiw-card">
          <%= image_tag "destination.png", width: 100 %>
          <p> Tell us your origin and the day you plan to leave</p>

        </div>
      </div>

      <div class="col-lg-4  col-md-12">
        <div class="hiw-card">
          <%= image_tag "warning.png", width: 100 %>
          <p> Check how busy the roads will be </p>
        </div>
      </div>

      <div class="col-lg-4  col-md-12">
        <div class="hiw-card">
          <%= image_tag "road-trip.png", width: 100 %>
          <p> Decide your departure time and enjoy! </p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <h1 class='text-center m-5'>Who we are</h1>

    <div id="criadores">
      <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="criadores-box">
              <img src="https://avatars.githubusercontent.com/u/43894189?v=4" class="img-circle" alt="">
              <p>Little Richards</p>
              <a href="#" class="icoLinkedin" title="Linkedin">
              <i   class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://github.com/rhasenack" data-text='Github'><i class='fab fa-github fa-2x'></i>
              </a>
              <a href="#" data-text='Instagram'>
              <i class='fab fa-instagram fa-2x'></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="criadores-box">
            <img src="https://avatars.githubusercontent.com/u/83133741?v=4" class="img-circle" alt="">
              <p>Nathan</p>
              <a href="#" data-text='Linkedin'>
              <i class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://github.com/cajudeleite" data-text='Github'><i class='fab fa-github fa-2x'></i></a>
              <a href="#" data-text='Instagram'>
              <i class='fab fa-instagram fa-2x'></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="criadores-box">
            <img src="https://avatars.githubusercontent.com/u/84345227?v=4" class="img-circle" alt="">
              <p>Willy </p>
              <a href="https://www.linkedin.com/in/guilherme-silva-b3074926/" data-text='Linkedin'>
              <i class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://github.com/gfsilva1" data-text='Github'>
              <i class='fab fa-github fa-2x'></i></a>
              <a href="https://www.instagram.com/gfsilva/" data-text='Instagram'><i class='fab fa-instagram fa-2x'></i></a>
          </div>
        </div>
      </div>
    </div>

</div>
