<div class="home-banner">
  <a href="/trips"><h1>Traffic Clairvoyant</h1></a>
  <a href="#descricao"><h2>About Us</h2></a>

</div>

<div class="home">
<div id="descricao">No more traffic stress on holidays,estimate the peak hours and decide when to leave
  Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. In elementis mé pra quem é amistosis quis leo. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.


</div>

  <div id="criadores">
    <div>
      <img src="https://avatars.githubusercontent.com/u/43894189?v=4" class="img-circle" alt="">
        <div class="box center">
           <h1>Descricao Little Richards</h1>
           <h2>
              <a href="#" class="icoLinkedin" title="Linkedin">
              <i   class="fab fa-linkedin fa-2x"></i></a>

              <a href="https://github.com/rhasenack" data-text='Github'><i class='fab fa-github fa-2x'></i>
              </a>

              <a href="#" data-text='Instagram'>
              <i class='fab fa-instagram fa-2x'></i></a>
            </h2>
        </div>
    </div>

    <div>
      <img src="https://avatars.githubusercontent.com/u/83133741?v=4" class="img-circle" alt="">
        <div class="box center">
            <h1>Descricao Nathan Franco Brazuca</h1>
            <h2>
              <a href="#" data-text='Linkedin'>
              <i class="fab fa-linkedin fa-2x"></i></a>

              <a href="https://github.com/cajudeleite" data-text='Github'><i class='fab fa-github fa-2x'></i></a>

              <a href="#" data-text='Instagram'>
              <i class='fab fa-instagram fa-2x'></i></a>
            </h2>
        </div>
    </div>

    <div>
       <img src="https://avatars.githubusercontent.com/u/84345227?v=4" class="img-circle" alt="">
        <div class="box center">
            <h1>Descricao Willy </h1>
            <h2>
              <a href="https://www.linkedin.com/in/guilherme-silva-b3074926/" data-text='Linkedin'>
              <i class="fab fa-linkedin fa-2x"></i></a>

              <a href="https://github.com/gfsilva1" data-text='Github'>
              <i class='fab fa-github fa-2x'></i></a>

              <a href="https://www.instagram.com/gfsilva/" data-text='Instagram'><i class='fab fa-instagram fa-2x'></i></a>
             </h2>
        </div>
    </div>
  </div>
</div>
