.new-viagem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  span {
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
  }
  .new-trip {
    height: 50px;
  }
  .trip-submit {
    padding-top: 10px;
  }
  .btn {
    background-color: var(--color);
    color: var(--btntext);
    width: 40%;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
  }
  .container {
    align-items: center;
    justify-content: center;
    height: fit-content;
  }
  h1 {
    justify-content: center;
    text-align: center;
    font-size: 70px;
  }
}
