.tvnavbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  a{
    color: var(--color);
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-size: 25px;
  }
  a:hover {
    font-weight: bolder;
  }
  .sino {
    color: var(--color);
    background-color: var(--bg-color);
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 25px;
  }
  .sino:hover {
    font-weight: bolder;
  }

  .volta {
    color: var(--bg-color);
    margin-top: 0;
    display: block;
    font-size: 23px;
  }

  .volta:hover {
    font-size: 25px;
  }

  .offcanvas-body {
    padding: 16px 0 16px 0;
    background-color: var(--color);
    color: var(--bg-color);
    .card {
      background-color: var(--color);
      color: var(--bg-color);
      border-color: var(--bg-color);
      a {
        color: var(--bg-color);
      }
    }

  }

  .offcanvas-header {
    background-color: var(--color);
    color: var(--bg-color);
    i {
      background-color: var(--color);
    }
    #close-btn {
      justify-content: left;
      margin: 0;
      color: var(--bg-color);
    }
  }
}

.navbar-absolute {
  // position: absolute;
  width: 100%;
}
