.tvnavbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  a{
    color: var(--color);
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    font-family: 'Cairo', sans-serif;
    font-weight: normal;
    font-size: 25px;
  }
  a:hover {
    font-weight: bolder;
  }
}

.navbar-absolute {
  // position: absolute;
  width: 100%;
}
