.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .btn {
    background-color: var(--color);
    color: $light-gray;
    width: 40%;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    display: flex;
    justify-content: center;
  }
  .container {
    align-items: center;
    justify-content: center;
  }
  h1 {
    justify-content: center;
    text-align: center;
    font-size: 60px;
  }
}
