
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 */


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/tvnavbar";
@import "components/tripcard";
@import "pages/index";
@import "pages/info";
@import "pages/mytrips";
@import "components/charts";




$edcolor: red;




body {
  height: 100%;
  width: 100%;
  caret-color: $zodiac;
  background-color: var(--bg-color);
  color: var(--color);
  transition: all 0.5s;
}

h1 {
  // font-family: 'Rokkitt', serif;
  font-weight: lighter;
}

p {
  font-family: 'Didact Gothic', sans-serif;
}

label {
  font-family: 'Didact Gothic', sans-serif;
  color: var(--color);
}

[data-theme='light'] {
  --bg-color: #F0DDBC;
  --color: #3A4257;
}

[data-theme='dark'] {
  --bg-color: #3A4257;
  --color: #F0DDBC;
}

.slider {
  background-color: var(--togglebg);
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--roundcolor);
  content: "";
  position: absolute;
  transition: 0.4s;
}

#map {
  height: 500px;
}
